figure {
    grid-column: 3;
    grid-row: 1;
    width: 30%;
}

img {
    width: 100%;
    object-fit: contain;
}

body header h1{
    text-align: center;
}

body{
    font-family: 'Roboto', sans-serif;
    background:
    linear-gradient( to top,rgb(0, 255, 191), rgb(0, 255, 255), transparent);
    
  
}
main {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
}
footer {
    text-align: center;
}

.bio {
    grid-column: 2;
    grid-row: 1
}

.experience {
    grid-column: 2;
    grid-row: 2
}

.education {
    grid-column: 2;
    grid-row: 3
}

.skill {
    grid-column: 2;
    grid-row: 4
}

.contact {
    grid-column: 2;
    grid-row: 5
}