body * {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
  }
  
  a {
    text-decoration: none;
  }
  
  /* Your styles go here! */

  body {
    background-color: rgb(23, 130, 165);
    padding-top: 60px;
    
  }
  div {
    font-size: 3rem;
    width: 400px;
    margin: auto auto;
    background-color: white;
    border-radius: 3px;
  }
  figure {
      width: 400px;
      margin: 0 auto 30px;
    }
 
 img {
    height: 35px;
    padding-left: 100px;
 }
 main{
    width: 400px;
    padding: 40px;
    border-radius: 3px;
    background: white;
    margin: 0 auto;
 }

 .signup {
     text-align: center;
     font-size: 2.3rem;
     font-weight: 50;
    margin-top: 0;
 }

 label {
     width: 100%;
     font-size: 1.5rem;
    
 }

 input , button {
    display: block;
    width: 100%;
    height: auto;
    font-size: 1.3rem;
    text-align: left;
    padding: 15px;
    border: 2px solid rgb(194, 191, 191);
    border-radius: 3px;
    background: white;
    margin: 10px auto 20px;
    transition: opacity 0.4git s;
 }
 button {
    height: auto;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    color: white;
    background: rgb(19, 211, 115);
    margin: 0;

    
 }
 p , a { 
     text-align: center;
     color: white;
     font-size: 1.5rem;
 }

 a {
     text-decoration: underline;
 }
