body * {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* font-size: 62.5%; */
  }
  
  a {
    text-decoration: none;
  }
  
  /* your styles go here! */ 
  img {
      /* display: none;s */
      width:400px;
      height:400px      ;
     }

  body {
      background-color: black; 
      color: white;
      margin-left: 12%;
      margin-right: 12%;
  }

  .florida {
    float: left;
    padding: 10px;
  }

  .circlestar {
      float:right;
      padding: 10px;
  }

