figure {
    width: 20%;
}

img {
    width: 100%;
    object-fit: contain;
}

body header h1{
    text-align: center;
}

body{
    font-family: 'Roboto', sans-serif;
    /* display: grid;
    grid-template-columns: repeat(4 , 1fr); */
}

footer {
    text-align: center;
}