body * {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  
  a {
    text-decoration: none;
  }
  
  /* Your styles go here! */

  body {
      display: grid;
      grid-template-columns: repeat(12 , 1fr);
       grid-template-rows: repeat(7 , 14.286vh); /* 7 parts of 100 is 14.286 */
  }

  .blue {
    grid-column: 4 / 7;
    grid-row: 2 / 4;
    background-color:blue;
  }
  .green {
    grid-column: 7 / 10;
    grid-row: 2 / 4;
    background-color:green;

  }

  .grey {
    grid-column: 4 / 6;
    grid-row:  4 / 7;
    background-color: gray;

  }

  .black {
    grid-column: 6 / 8;
    grid-row: 4 / 7;
    background-color:black;

  }

  .yellow {
    grid-column: 8 / 10;
    grid-row: 4 / 7;
    background-color:yellow;

  }