
body {
    background-color: rgba(126, 126, 126, 0.801)
}

.grid {
    display: grid;

    grid-template-columns: 1f 1f 1f 1f 1f;
    grid-template-rows: 1f 1f 1f 1f 1f 1f;
    grid-gap: 20px;
    /* background-color: rgba(129, 144, 146, 0.8); */

}

.item {
    
    border: 1px solid rgb(20, 0, 107);
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0.2em;
    color: rgb(12, 48, 59);
     font-size: 120%; 
}

.Name {
    grid-column: 1 / 3;
}

.Description {
    padding: 15px;
    grid-column: 1 ;
    grid-row: 2 / 5;
}

.Skills {
    grid-column: 2;
    grid-row: 2 / 4;
}

.Me {
    grid-column: 2;
    grid-row: 4 / 5;
}
.Contact {
    grid-column: 1 / 3;
    grid-row: 5 /6;
}

.align-center {
    text-align: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
  }


